<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <title><%=product.name%></title>
</head>
<body>
    
    <div class="container">
       <div> 
        <h3><%=product.name%></h3>
        <img src="<%=product.img%>"" alt="">
        <h4>price:<%=product.price%> </h4>
        <p><%=product.desc%></p>
    </div>

    <form action="/products/<%=product._id%>/review" method = "post">
        <label for="rating">Rating</label>
        <br>
        <input type="range" name="rating" min="0" max="5">
        <br>
        <br>
        <label for="comment">Comment</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="4"></textarea>
        <br>
        <button>submit</button>
    </form>
    <div class="container">
        <%for(let review of product.review){%>
           <h3><%=review.rating%></h3>
           <p><%=review.comment%></p>


        <%}%>

    </div>

</html>